.person-details{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  /*width: fit-content;*/
}
.info-person{
  flex: 1;
  margin: 10px 5px;
}
.info-person h2{
  margin: 0;
}
.info-person ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.info-person ul li{
  border-bottom: 1px solid #514f4f;
}

.person-details img{
  width: 50%;
  height: 50%;
  max-width: 200px;
  margin: 10px;
  border-radius: 15px;
}
